{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <main class="container">
        <h1>Tableau de bord</h1>
        <a role="button" class="secondary" href="/dashboard">Annuler</a>
        <div class="error">{{ error }}</div>
        <form method="POST" action="/dashboard/{{ contact.id }}/update">
            <label for="mail">Email: *</label>
            <input id="mail" type="text" name="mail" value="{{ contact.mail }}" required />
            <label for="prenom">Prénom: *</label>
            <input id="prenom" type="text" name="prenom" value="{{ contact.prenom }}" required />
            <label for="nom">Nom: *</label>
            <input id="nom" type="text" name="nom" value="{{ contact.nom }}" required  />
            <label for="telephone">Téléphone: *</label>
            <input id="telephone" type="text" name="telephone" value="{{ contact.telephone }}" required />
            <input type="hidden" name="_METHOD" value="PUT"/>
            <button type="submit">Modifier contact</button>
        </form>
    </main>
    </body>
{% endblock %}